/* Основные стили для ПК */
body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: #ffffff;
}

header {
    background-color: #618D95;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo {
    height: 40px;
}

header .project-title {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
}

footer span {
    color: #ffffff;
    margin-right: 5px;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #618D95;
}

footer {
    font-size: 14px;
    margin: 0;
    flex-basis: 100%;
    background-color: #C980A4;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

main {
    padding: 5px 20px;
    background-color: #ffffff;
}

.button {
    display: block;
    width: 40vw;
    margin: 10px auto;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #1F5761;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #1F5761;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px auto;
    width: 80%;
    box-sizing: border-box;
}

.image-link {
    text-align: center;
}

.image-link img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-link img:hover {
    transform: scale(1.05);
}

.description {
    padding: 20px;
    margin: 20px auto;
    width: 52%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description.left {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}

.description.right {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.description h2 {
    margin: 5px;
    color: #333;
    font-size: 20px;
}

.description p {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.content-container {
    display: flex;
    height: calc(100vh - 60px);
}

#map {
    flex: 4;
    width: 80%;
    height: 100%;
}

.control-panel {
    flex: 1;
    width: 20%;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.control-panel h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.control-panel form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #618D95;
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #1F5761;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#slider-value {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.instructions {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.instructions ul {
    padding-left: 20px;
    margin: 10px 0 0;
}

.instructions li {
    margin-bottom: 5px;
}

/* Мобильная версия */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        height: auto;
    }

    #map {
        width: 100%;
        height: 300px;
        min-height: 200px;
    }

    .control-panel {
        width: 95%;
        padding: 10px;
    }

    .control-panel form {
        gap: 15px;
    }

    .control-panel h2 {
        font-size: 18px;
    }

    button {
        margin: 0 auto;
        width: 90%;
        font-size: 14px;
    }

    .slider-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #slider-value {
        font-size: 14px;
    }
    
    .instructions ul {
        padding-left: 20px;
        margin: 10px 0 0;
    }
    
    .instructions li {
        margin-bottom: 10px;
        margin-right: 20px;
    }

    footer {
        margin: 0;
        flex-basis: 100%;
        text-align: center;
    }
}
